body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dedfdd;
}

.green-container {
    background: #00a884;
    width: 100%;
    height: 127px;
    position: fixed;
    top: 0;
}

.main-container {
    background: url(..//Assets/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 80%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;

}

.white-right-side {
    background-color: #fff;
    width: 480px;
    height: 100%;
}